<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/form.css">
    <title>Document</title>
</head>
<body>
<div class="form-wrapper">
    <div th:if="${param.error}" class="error">
        Incorrect Username or Password!
    </div>
    <div th:if="${param.logout}" class="error">
        You have been logged out!
    </div>
    <div class="form">
        <div class="form-input">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-submit">
            <button onclick="login('TEACHER');">Login as Teacher</button>
            <button onclick="login('STUDENT');">Login as Student</button>
        </div>
        <a href="/register">Don't have an account?</a>
    </div>
</div>
<script src="/public/login.js"></script>
</body>
</html>