<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/profile.css">
    <script src="https://kit.fontawesome.com/95ef15b32a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="logo">Logo</div>
            <div class="utils">
                <div id="students"><i class="fa-solid fa-graduation-cap"></i></div>
                <div id="requests"><i class="fa-solid fa-envelope"></i></div>
                <div class="glyph">|</div>
                <div id="user"></div>
                <div><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
            </div>
        </nav>
        <div class="main" id="main">
        </div>
    </div>
    <script src="/public/teacherUtils.js"></script>
</body>
</html>